* {
  box-sizing: border-box;
}

.container {
  width: 500px;
  height: 300px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.1);
}

.slides-container {
  padding: 1rem;
}

.steps-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.7);
}

.step {
  cursor: pointer;
  border-radius: 100%;
  width: 0.625rem;
  height: 0.625rem;
  display: inline-block;
  margin-right: 0.375rem;
  background: white;
  opacity: 0.6;
}

.step.active {
  opacity: 1;
}
